$breakpoint-sm: 540px;
$breakpoint-md: 660px;
$breakpoint-lg: 717px;

@mixin x-small {
  @media (max-width: #{$breakpoint-sm - 1px}) {
    @content;
  }
}

@mixin sm-md-xl {
  @media (min-width: #{$breakpoint-sm + 1px}) {
    @content;
  }
}

@mixin large {
  @media (width: #{$breakpoint-sm}) {
    @content;
  }
}

@import "css-reset";
@import "colors";

.chart-area {
  @import "type";
  @import "highcharts";

  background-size: 100px;
  background-repeat: no-repeat;
  background-image:
    url(https://fm-static.cnbc.com/awsmedia/chart/2019/6/10/grow_leaves.1562793463706.png);
  background-position: bottom right;
  max-width: 660px;
  margin-bottom: 25px;
  font-family: $font-stack;

  & a {
    border-bottom: 1px solid $green-primary;
    color: $green-primary;
    text-decoration: none;
  }

  & .chart-title-social, & .grow-logo-social {
    display: none;
  }

  & .chart-float {
    @include sm-md-xl {
      width: 42%;
      margin-right:3%;
      float: left;
    };
  }

  & .chart-container {
    width: 100%;
    height: 300px;
    margin-top: -10px;
    &#chart-container-2 {
      @include sm-md-xl {
        width: 42%;
      };
      @include x-small {
        margin-bottom: 30px;
      }
      & .highcharts-legend {
        @include sm-md-xl {
          visibility: hidden;
        }
      }
    }
  }

  & .grow-logo {
    width: 214px;
    margin-top: 20px;
  }

  & .highcharts-legend {
    transform: translate(-5px,10px) !important;
  }
  
}

@import "social";
